<li>
  <span class="content"><%= microblog.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(microblog.created_at) %> ago.
  </span>
  <% if current_user?(microblog.user) %>
    <%= link_to "delete", microblog, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: microblog.content %>
  <% end %>
</li>